name: Build and Deploy Java Application

on:
  workflow_dispatch:
    
  push:
    branches:
      - master
      - gh_runner_setup
      - pre-production

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout ${{ github.repository }}
      uses: actions/checkout@v4
      with:
        repository: 'ranjith-vedansh/java-hello-world-war.git'
        ref: 'gh_runner_setup'
    
    - name: Install pre-requisite (Java and Maven)
      run: |
        echo "## Verify Java installation" >> $GITHUB_STEP_SUMMARY
        if ! command -v java &> /dev/null
        then
            echo "Java not found. Installing OpenJDK..." >> $GITHUB_STEP_SUMMARY
            sudo apt-get update
            sudo apt-get install -y openjdk-11-jdk
        else
            echo "Java is already installed:"  >> $GITHUB_STEP_SUMMARY
            java --version 
        fi

        echo "### Verify Maven installation" >> $GITHUB_STEP_SUMMARY
        if ! command -v mvn &> /dev/null
        then
            echo "Maven not found. Installing Maven..."
            sudo apt-get update
            sudo apt-get install -y maven
        else
            echo "Maven is already installed:" >> $GITHUB_STEP_SUMMARY
            mvn --version
        fi
    - name: Build the application
      run: mvn clean package

    - name: Deploy to Server
      run: |
        echo "Checking for *.war file under targerst directory"  
        ls -Rlrt
        pwd
        ls -lrt
        echo "----------------------------"
        whoami
