name: Variable Usecase Workflow

on:
  workflow_dispatch:
  push:
    branches: # This key is required to list branches
      - master
      - variables_example-_branch
env:
  name: Ranjith
jobs:
   job1_printing_variable_name:
     runs-on: ubuntu-latest
     env:
       os: Linux
     steps:
       - name: step1_Usecase_for_variables_name # Added a space before 'name'
         run: |
          echo "My name is $name" >> $GITHUB_STEP_SUMMARY
          echo "Repo name: ${{ github.repository }}"  >> $GITHUB_STEP_SUMMARY
          echo "Workflow name: ${{ github.workflow }}"  >> $GITHUB_STEP_SUMMARY
          echo "Triggered by: ${{ github.triggering_actor }}"  >> $GITHUB_STEP_SUMMARY
